.project-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
  flex-wrap: wrap;
  gap: 10px;
}
.card-container {
  color: white;
  /* border: 1px solid; */
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: clamp(300px, 30%, 30%);
  border: 1px solid;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(95, 131, 230);
  scale: 0.95;
  transition: 0.5s;
}
.project-title {
  width: 100%;
  font-family: var(--title);
  text-align: start;
}
.project-img {
  border-radius: inherit;
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* scale: 0.97; */
  transition: 1s;
}
.card:hover {
  scale: 1;
}
.project-description {
  font-family: var(--para);
  text-align: start;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  cursor: pointer;
}
.git-logo {
  font-size: 1.5rem;
  cursor: pointer;
}
.tech-stack {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.tech-stack li {
  font-size: 0.7rem;
  font-family: var(--para);
  border-radius: 20px;
  border: 1px solid white;
  padding: 10px;
  flex: 0 0 60px;
  box-shadow: 0px 0px 10px rgb(95, 131, 230);
}
@media screen and (max-width: 700px) {
  .card {
    scale: 1;
  }
}
