.mini-project-wrapper {
  color: white;
  width: 100vw;
  min-height: 50vh;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5% 10%;
  gap: 20px;
}
.mini-project-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  /* border: 1px solid; */
}
.project-item {
  width: clamp(300px, 75%, 600px);
  min-height: 50px;
  border: 0.5px solid white;
  display: grid;
  grid-template-columns: 1fr 50px 100px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px white;
  overflow: hidden;
}
.item-name {
  text-align: start;
  /* border: 1px solid; */
  font-family: var(--para);
  font-size: 1rem;
}
.project-git-logo {
  width: 100%;
  visibility: hidden;
  /* border: 1px solid; */
}
.mini-project-img {
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.project-item:hover .project-git-logo {
  visibility: visible;
}
@media screen and (max-width: 900px) {
  .project-git-logo {
    visibility: visible;
  }
}
