.about-container {
  width: 100vw;
  min-height: 100vh;
}
.img-item {
  width: clamp(90px, 20vw, 200px);
  height: clamp(110px, 100%, 100%);
  object-fit: cover;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100vw;
  min-height: 100vh;
  color: white;
  padding: 5% 10%;
  /*   background: url("../../assets/AboutBackGround.png");
  background-position: center; */
}
.title {
  width: 100%;
  text-align: center;
  font-family: var(--para);
  font-size: 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(55, 217, 219, 1) 40%,
    rgba(6, 141, 199, 1)
  );
  background-clip: text;
  color: transparent;
}
.about .wish {
  font-family: var(--title);
}
.about p {
  width: 50%;
  font-family: var(--para);
}
.about p span {
  background: linear-gradient(
    90deg,
    rgba(55, 217, 219, 1) 40%,
    rgba(6, 141, 199, 1)
  );
  background-clip: text;
  color: transparent;
}
.contect-text {
  font-family: var(--title);
  background: linear-gradient(
    90deg,
    rgba(55, 217, 219, 1) 40%,
    rgba(6, 141, 199, 1)
  );
  background-clip: text;
  color: transparent;
  text-decoration: underline;
}
.skill-section {
  min-width: 50%;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  padding: 10px 0px;
  gap: 10px;
}
.skill {
  font-family: var(--para);
  flex: 0 0 100px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 20px;
  padding: 8px;
  background: none;
  transition: color 1s;
  transition: all 0.5s;
}
.skill:hover,
.btn:hover {
  background: linear-gradient(90deg, rgb(37, 203, 206) 40%, rgb(5, 125, 177));
  border-color: white;
  box-shadow: 0px 0px 20px white;
}
.skill-description {
  position: absolute;
  inset: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-height: 40%;
  border: 1px solid;
  background-color: rgba(105, 103, 103, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 20px;
  gap: 10px;
}
.skill-description p {
  font-family: var(--para);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px 0px;
}
.skill-description p::-webkit-scrollbar {
  display: none;
}
.btn {
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 10px;
}
.social-media {
  min-width: clamp(100px, 20%, 200px);
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: clamp(1.1rem, 5vw, 1.5rem);
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .about {
    padding: 5%;
  }
  .about p {
    width: 80%;
  }
  .skill-description {
    width: 80%;
    padding: 10px;
  }
  .skill-description p {
    /* width: 80%; */
    overflow-y: auto;
  }
}
